$color: red;
$top-background-color: #fafafa;
$main-font: 'Muli';
$secondary-font: 'Roboto Mono';
$style-decoration: none;
$base-font-size: 1em;
$base-font-color: #535353;
$accent-color: #9d81fe;


html {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: $style-decoration;
  font-family: $secondary-font;
  color: $accent-color;
}

h1 {
  color: $color;
}

.top-section {
  position: relative;
  background-color: $top-background-color;
  height: 70vh;
}

.container {
  position: relative;
}

.logo_title {
  position: absolute;
  top: 10%;
  left: 5%;
}

.main_logo {
  width: 80%;
}

.intro_section {
  position: absolute;
  top: 40%;
  left: 10%;
}

.intro_section h3 {
  font-size: 1.6 * $base-font-size;
  color: $base-font-color;
  font-weight: 300;
  padding-bottom: 23px;
}

.intro_section p {
  font-size: $base-font-size;
  color: $base-font-color;
}

// /** about page styling ***/

.main_about_section {
  position: relative;
  height: 100vh;
  background-color: $top-background-color;
}

.back_link_container {
  display: inline;
  position: absolute;
  top: 10%;
  right: 5%;
}

.back_to_main {
  border: 2px solid $accent-color;
  background-color: $accent-color;
  color: #fff;
  font-size: .7 * $base-font-size;
  font-weight: 300;
  border-radius: 100px;
  padding: 12px 30px;
  position: relative;
}

.back_arrow {
  position: absolute;
  top: 30%;
  left: 10%;
}

.image_and_more {
  margin-top: .8em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.personal_image {
  width: 100%;
  padding-bottom: 2em;
}

.about_image {
  width: 35%;
  min-width: 250px;
}

.about_me_text {
  width: 80%;
  margin: 0 auto;
}

.about_social_icons {
  margin-top: 2em;
}

.about_social_icons img {
  width: 2em;
  margin-left: 28.3px;
  margin-right: 28.3px;
}

.download {
  width: 3%;
  min-width: 20px;
}
.resume_section {
  padding-top: 2em;
  // display: inline-block;
}

.resume_section a {
  opacity: .7;
}
.resume_section a:hover {
  opacity: 1;
}

.resume_section p {
    display: inline-block;
    font-family: $secondary-font;
    font-size: .8 * $base-font-size;
}
/*** bottom section styling ***/
.bottom_section {
  position: relative;
}

// .container {
//   position: relative;
// }

.projects_panel {
  display: flex;
  position: relative;
  width: 100%; /* full width */
  margin-right: 10px;
  // overflow-x: hidden;
}

.project_image {
  width: 100%;
  min-width: 700px;
  max-width: 1300px;
  margin-top: -80px;
}

.main_image {
  width: 100%;
}

/**** project descriptions ***/
.project_descriptions {
  width: 30%;
  margin-top: 10%;
  margin-left: 100px;
}

.selected_works {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: .7 * $base-font-size;
  color: $base-font-color;
}

.project_name {
  padding-top: 56px;
  padding-bottom: 10px;
  color: $base-font-color;
}

.tools_used {
  font-size: .8 * $base-font-size;
  padding-bottom: 1.5 * $base-font-size;
  color: $base-font-color;
}

.project_snippet {
  padding-bottom: 1.7 * $base-font-size;
  color: $base-font-color;
}

.website_link a {
  color: $accent-color;
  font-family: $secondary-font;
  display: inline-block;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  transition: .5s ease;
  white-space: nowrap;
  width: 0;
  height: 20px;
}

.website_link a:hover {
  border-bottom: 2px solid $accent-color;
  width: 100px;
}

// /*** footer section *///
.footer_section {
  position: relative;
  width: 100%;
  padding: 7em 0;
  display: flex;
}

.footer_section p {
  color: $base-font-color;
  font-size: $base-font-size;
  margin-left: 6em;
  margin-right: 1em;
}

.contact_and_more {
  margin-left: 3em;
}

.contact_and_more a {
  border: 2px solid $accent-color;
  border-radius: 100px;
  background-color: transparent;
  font-size: .7 * $base-font-size;
  margin: 0 1.5em;
  transition: background-color .3s, color .3s;
}

.contact_and_more a:hover {
  background-color: $accent-color;
  color: #fff;
}

.contact_me {
  padding: 15px 45px;
}

.more_about_me {
  padding: 15px 30px;
}

.social_icons {
  margin-left: 2em;
}

.social_icons img {
  width: 1.8em;
  min-width: 20px;
  margin-left: 3em;
}

.about_social_icons a:hover,
.social_icons a:hover {
  opacity: 0.7;
}


/*** rights reserved *///
.rights_reserved {
  padding-bottom: 2em;
}

.rights_reserved p {
  font-family: $secondary-font;
  font-size: .7 * $base-font-size;
  color: rgba(83, 83, 83, 0.5);
  margin-left: 8em;
}
